svg.illustration-code {
  --illustration-code-browser: var(--color-primary);
  --illustration-code-laptop: var(--color-primary);
  --illustration-code-pants: var(--color-tertiary-70);
  --illustration-code-person: var(--color-secondary);
  --illustration-code-pointer: var(--color-primary);
  --illustration-code-close: var(--color-primary);
  --illustration-code-code: var(--color-primary);
}
