.illustration-code {
  --illustration-code-browser: var(--primary-light);
  --illustration-code-laptop: var(--secondary-light);
  --illustration-code-pants: var(--tertiary-light);
  --illustration-code-person: var(--neutral-light);
  --illustration-code-pointer: var(--secondary-light);
  --illustration-code-close: var(--neutral-light);
  --illustration-code-code: var(--neutral-light);
}
