{%- extends "layouts/base.njk" -%}

{%- block main_content -%}

  {#-
      There are a few modifications the home layout wants to make to the base
      layout that it is extended; however, it also still wants to use the
      content already _included_ in the `main_content` section, e.g. the page
      title and the call to content. Using `super()` here means we can still
      use that content while also extended what's inside `main_content`.
  -#}
  {{ super() }}



  {#-
      Let's list out _only_ the pages on the site. This will exclude any
      presentations from the output here.
  -#}

  <h2>Site pages</h2>

  {#- The navigation is set to include only pages in the source -#}
  {% set nav_page = collections.page | eleventyNavigation() %}

  {%- if nav_page -%}
    <ul>
      {%- for page in nav_page %}
        <li><a href="{{- page.url | url -}}">{{- page.title -}}</a></li>
      {%- endfor %}
    </ul>
  {%- endif -%}



  {#-
      Let's list out _only_ the presentations on the site. This will exclude any
      pages from the output here.
  -#}

  <h2>Presentations</h2>

  {#- The navigation is set to include all presentations in the source -#}
  {% set nav_presentation = collections.presentation | eleventyNavigation() %}

  {%- if nav_presentation -%}
    <ul>
      {%- for presentation in nav_presentation %}
        <li><a href="{{- presentation.url | url -}}">{{- presentation.title -}}</a></li>
      {%- endfor %}
    </ul>
  {%- endif -%}

{%- endblock main_content -%}
