{%- extends "layouts/base.njk" -%}

{#-
    Import any macros we want to use in this layout. By using macros, we can
    include reusable code pieces, and pass optional parameters. First, they need
    to be imported, before we can call them later.
-#}
{%- from "presentation/reveal.njk" import reveal with context -%}



{%- block head_content -%}
  {{- head(
      head_css = ["/dist/css/presentation.css"]
      ) -}}
{%- endblock head_content -%}



{%- block main_content -%}
  <div class="reveal">
    <div class="slides">
      {{ content | safe }}
    </div>
  </div>
{%- endblock main_content -%}



{%- block script_content -%}
  {{- reveal() -}}
{%- endblock script_content -%}
