{#- The base layout is the file that other layouts may inherit. This includes a
    pared-down, bare-bones skeleton, that includes the default page `head`, and
    a call to include content.
-#}

<!DOCTYPE html>
<html lang="en">

{#- The base layout includes head content, such as meta information or CSS
    file references.
-#}
<head>

  {#- The `metagen` plugin more easily outputs head meta information, such as
      site generator, CSS files, page title, and more.
  -#}

  {%- metagen
    name = site.name,
    desc = site.description,
    site_name = site.website,
    title = title + ": " + site.website,
    url = site.url + page.url,
    generator = "eleventy",
    css = ["/dist/css/" + (css if css else "page") + ".css"]
  -%}

  {#- The `favicon` plugin will accept a link to the site's favicon. The
      settings for this plugin are defined in the `eleventy.js` file.
  -#}
  {%- favicons site.favicon -%}
</head>

<body>

  {#- We make sure a call to a page's content is included. The content in this
      area may be extended in other layouts, and will provide the bulk of a
      page's content.
  -#}
  {{ content | safe }}

</body>
</html>
