---
layout: base
title: Home page for presentations
---

{#- This is the homepage layout. It inherits from `base`, and includes the
    navigation code to generate a menu of all presentations published on the
    site. Any content entered in `index.md` at the `./source/` root will be output in the area marked as `{{ content | safe }}`.
-#}

{% set navigation = collections.all | eleventyNavigation() %}

{%- block main_content -%}

  {{ content | safe }}

  {%- if collections.all | eleventyNavigation() -%}
    <ul>
      {%- for item in navigation %}
        <li><a href="{{- item.url | url -}}">{{- item.title -}}</a></li>
      {%- endfor %}
    </ul>
  {%- endif -%}
{%- endblock main_content -%}
