---
layout: page.njk
body_class: home
---

<section class="hero" aria-label="homepage hero">
  <div class="hero-inner">
    {#- The illustration is first in the DOM order. On larger screens, it will
        align to the right.
    -#}
    <div class="illustration">
      {%- include "svg/coding.njk" -%}
    </div>

    {#- The info about the project includes a tiny description, plus links to the
        demo presentations.
    -#}
    <div class="info">
      <p><b>starwipe</b> is a small little presentation slideslow using <a href="https://revealjs.com/">reveal.js</a>, and is built with <a href="https://www.11ty.dev/">Eleventy (11ty)</a></p>

      {#- Let's list out _only_ the presentations on the site. This will exclude
          any style guide or pages from the output here.
      -#}
      {% set nav_presentation = collections.presentation | eleventyNavigation() %}

      {%- if nav_presentation -%}
        <nav class="nav-presentation" aria-label="Demo Presentations">
          <ul role="list">
            {%- for presentation in nav_presentation %}
              <li><a href="{{- presentation.url -}}">{{- presentation.title -}}</a></li>
            {%- endfor %}
          </ul>
        </nav>
      {%- endif -%}
    </div>
  </div>
</section>

{{- content | safe -}}
