---
layout: default
pageClass: presentation
---

{%- from 'reveal.njk' import reveal with context -%}

<div class="reveal">
  <div class="slides">
    <section data-markdown>
      <textarea data-template>
        {{- content | safe -}}
      </textarea>
    </section>
  </div>
</div>

{{- reveal(slides) -}}
