.reveal {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: var(--reveal-heading-marginBlock);
    margin-inline: var(--reveal-heading-marginInline);
    color: var(--reveal-heading-color);
    font-weight: var(--reveal-heading-fontWeight);
    font-size: var(--reveal-heading-fontSize);
    line-height: var(--reveal-heading-lineHeight);
    font-family: var(--reveal-heading-fontFamily);
    text-transform: var(--reveal-heading-textTransform);
    text-shadow: var(--reveal-heading-textShadow);
    word-wrap: var(--reveal-heading-wordWrap);

    &:last-child { margin-block-end: 0}
  }

  $headings: 6, 5, 4, 3, 2, 1;
  $fontSize: 1.125rem;

  @each $heading in $headings {
    $fontSize: $fontSize * 1.2; // Major Second typescale
  
    h#{$heading} {
      --reveal-heading-fontSize: var(--reveal-heading#{$heading}-fontSize, #{$fontSize});
    }
  }
}
