@use "global/colors/base" as color;
@use "global/typeface/" as type;

:root {
  // reveal.js base properties.
  --reveal-marginBlock: 1.125rem;
  --reveal-backgroundColor: #{color.$light};
  --reveal-color: #{color.$dark};
  --reveal-fontWeight: 400;
  --reveal-fontSize: 2rem;

  --reveal-fontFamily-sansSerif: "#{type.$sansSerif}";
  --reveal-fontFamily-sansSerifStack: "Helvetica Neue", "Helvetica", "Arial", ui-sans-serif, system-ui, sans-serif;
  --reveal-fontFamily-serif: "#{type.$serif}";
  --reveal-fontFamily-serifStack: "Georgia", "Times New Roman", "Times", ui-serif, system-ui, serif;
  --reveal-fontFamily-monospace: "Courier";
  --reveal-fontFamily-monospaceStack: "Courier New", ui-monospace, system-ui, monospace;

  // reveal.js slides.
  --reveal-slides-fontWeight: inherit;
  --reveal-slides-lineHeight: 1.3;
  --reveal-slides-textAlign: left;

  --reveal-rFrame-borderColor: #{color.$primary};
  --reveal-rFrame-hover-borderColor: var(--reveal-rFrame-borderColor);
  --reveal-rFrame-transitionTime: 0.15s;

  --reveal-navigationControls-color: var(--reveal-link-color);

  --reveal-progress-backgroundColor: #{color.$dark};
  --reveal-progress-color: var(--reveal-link-color);

  // Links.
  --reveal-link-color: #{color.$secondary};
  --reveal-link-color-hover: #{color.$on-light};

  // Headings.
  --reveal-heading-marginBlock: 0 var(--reveal-marginBlock);
  --reveal-heading-marginInline: 0;
  --reveal-heading-color: #{color.$primary};
  --reveal-heading-fontWeight: 400;
  --reveal-heading-lineHeight: calc(2.5px + 2.5ex + 2.5);
  --reveal-heading-fontFamily: var(--reveal-fontFamily-serif) var(--reveal-fontFamily-serifStack);
  --reveal-heading-textTransform: uppercase;
  --reveal-heading-textShadow: none;
  --reveal-heading-wordWrap: break-word;

  // Other text elements.
  --reveal-paragraph-marginBlock: var(--reveal-marginBlock);
  --reveal-paragraph-marginInline: 0;
  --reveal-paragraph-lineHeight: 1.3;

  --reveal-list-marginBlock: 0;
  --reveal-list-marginInline: 0 1em;

  --reveal-blockquote-inlineSize: min(70%, 70vw);
  --reveal-blockquote-marginBlock: var(--reveal-marginBlock);
  --reveal-blockquote-marginInline: auto;

  // Preformatted text.
  --reveal-pre-marginBlock: var(--reveal-marginBlock);
  --reveal-pre-marginInline: auto;
  --reveal-pre-fontFamily: var(--reveal-fontFamily-monospace) var(--reveal-fontFamily-monospaceStack);
  
  --reveal-code-fontFamily: var(--reveal-fontFamily-monospace) var(--reveal-fontFamily-monospaceStack);

  // Table.
  --reveal-table-marginBlock: auto;
  --reveal-table-marginInline: auto;

  // Table.
  --reveal-table-borderWidth: 0.025em;
  --reveal-table-borderStyle: solid;
  --reveal-table-borderColor: #{color.$primary};
  --reveal-tableCell-paddingBlock: 0.25em;
  --reveal-tableCell-paddingInline: 0.5em;

  // Media elements.
  --reveal-media-maxBlockSize: min(95%, 95vw);
  --reveal-media-maxInlineSize: min(95%, 95vh);

  --reveal-img-marginBlock: var(--reveal-marginBlock);
  --reveal-img-marginInline: 0;
}
