@use "global/colors/base" as baseColor;
@use "global/typeface/" as baseType;

:root {
  // Custom properties for the reveal.js main containers.
  --reveal-backgroundColor: #{baseColor.$light};
  --reveal-color: #{baseColor.$dark};
  --reveal-fontWeight: 400;
  --reveal-fontFamily-sansSerif: "#{baseType.$sansSerif}";
  --reveal-fontFamily-sansSerifStack: "Helvetica Neue", "Helvetica", "Arial", ui-sans-serif, system-ui, sans-serif;
  --reveal-fontFamily-serif: "#{baseType.$serif}";
  --reveal-fontFamily-serifStack: "Georgia", "Times New Roman", "Times", ui-serif, system-ui, serif;
  --reveal-fontSize: 2rem;

  // Custom properties for reveal.js slides.
  --reveal-slides-fontWeight: inherit;
  --reveal-slides-lineHeight: 1.3;
}
