{%- macro reveal(slides)-%}

  <script src="/dist/js/reveal.js"></script>
  <script src="/dist/js/plugin/highlight/highlight.js"></script>
  <script src="/dist/js/plugin/markdown/markdown.js"></script>
  <script src="/dist/js/plugin/notes/notes.js"></script>

  <script>
    Reveal.initialize({
      plugins: [
        RevealHighlight,
        RevealMarkdown,
        RevealNotes
      ],
      transition: "{{ slides.transition if slides.transition else "fade" }}",
      transitionSpeed: "{{ slides.transition_speed if slides.transition_speed else "slow" }}",
      autoAnimateDuration: {{ slides.auto_animate if slides.auto_animate else 0.6 }},
      controlsLayout: "{{ slides.controls_layout if slides.controls_layout else "edges" }}",
      controlsBackArrows: "{{ slides.controls_back if slides.controls_back else "visible" }}",
      progress: {{ slides.progress if slides.progress else false }},
      showSlideNumber: "{{ slides.show_number if slides.show_number else "speaker" }}",
      hash: {{ slides.hash if slides.hash else true }},
      hashOneBasedIndex: {{ slides.hash_one_index if slides.hash_one_index else true }},
      fragmentInURL: {{ slides.fragment_url if slides.fragment_url else false }},
      mouseWheel: {{ slides.mouse_wheel if slides.mouse_wheel else true }},
      totalTime: ({{ slides.total_time if slides.total_time else 30 }} * 60)
    });
  </script>

{%- endmacro -%}
