---
title: Colors
---

{%- if colors -%}
  <ul class="guide-colors" role="list">
    {%- for color in colors -%}
      <li style="background-color: {{- color.color -}};">
        {{- color.name -}}
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
