---
title: Sample One
---

<section data-markdown>
  <textarea data-template>

    ## Slide 1
    A paragraph with some text and a [link](https://hakim.se).

    ---

    ## Slide 2

    {% image "kier-in-sight-archives-2QKmKdDe-hQ-unsplash.jpg", "splash of gold star-shaped confetti against a blue background" %}

    Photo by [Kier in Sight Archives](https://unsplash.com/@kierinsightarchives?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) on [Unsplash](https://unsplash.com/photos/2QKmKdDe-hQ?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText)

  </textarea>
</section>
