@use "settings";
@use "components";

@use "colors" as c;
@use "utilities" as u;

:root {
  @include c.color-tokens();
}

body {
  background-color: var(--body-background, var(--background));
  color: var(--body-color, var(--foreground));
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color, var(--primary));
}

a {
  color: var(--link-color, var(--secondary));
  font-weight: 600;

  &:hover,
  &:focus,
  &:active {
    --link-color: var(--link-hover-color, var(--tertiary));
  }

  &:focus {
    outline-color: currentColor;
    outline-offset: 0.125em;
    text-decoration: none;
  }
}
