@use "colors" as c;

$base-size: 2rem;

// The following CSS custom props are copied from the `exposer` partial from
// reveal.js's style sheets. The defaults here make for a "dark" theme, and the
// props can be reset at the theme level.
:root {
  // Background of the presentation.
  --r-background-color: #{c.$background};

  // Primary body text.
  --r-main-font: sans-serif;
  --r-main-font-size: #{$base-size};
  --r-main-color: #{c.$foreground};

  // Vertical spacing between blocks of text.
  --r-block-margin: 1.5rem;

  // Headings.
  --r-heading-margin: 0 0 var(--r-block-margin) 0;
  --r-heading-font: serif;
  --r-heading-color: #{c.$primary};
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: uppercase;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: 500;
  --r-heading1-text-shadow: var(--r-heading-text-shadow);

  // Heading sizes.
  $typescale: 1.2;
  $headings: 5, 4, 3, 2, 1;
  $size: $base-size;

  @each $heading in $headings {
    $size: $size * $typescale;
    --r-heading#{$heading }-size: #{$size};
  }

  // Code snippets.
  --r-code-font: monospace;

  // Links.
  --r-link-color: #{c.$secondary};
  --r-link-hover: #{c.$tertiary};
  
  --r-selection-background-color: #{c.$neutral};
  --r-selection-color: #{c.$on-neutral};
}
