{%- macro head(
    head_title = title + ": " + site.website,
    head_css = ["/dist/css/screen.css"],
    head_favicon = site.favicon
) -%}

  {%- metagen
    name = site.name,
    desc = site.description,
    site_name = site.website,
    title = title + ": " + site.website,
    url = site.url + page.url,
    generator = "eleventy",
    css = head_css
  -%}

  {%- favicons head_favicon -%}

{%- endmacro -%}
