{%- macro reveal(slides)-%}

  <script src="/_assets/reveal/dist/reveal.js"></script>
  <script src="/_assets/reveal/plugin/highlight/highlight.js"></script>
  <script src="/_assets/reveal/plugin/markdown/markdown.js"></script>
  <script src="/_assets/reveal/plugin/notes/notes.js"></script>

  <script>
    Reveal.initialize({});
  </script>

{%- endmacro -%}
